/* BODY */

* {
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

body .welcome {
  margin-top: 12rem;
  text-align: center;
  font-size: larger;
}

/*Navbar*/

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #333;
  cursor: pointer;
  height: 3rem;
  align-items: center;
}

.navbar .links {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}

.navbar .links:hover {
  color: orange;
}

/* LOGIN/SIGNUP */

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
  
}

.login-form .login-container button {
  cursor: pointer;
}

.login-container .usernameLogin {
  margin-bottom: 1rem;
}

.login-container .usernameLogin label {
  margin-right: 1rem;
}

.login-container .passwordLogin {
  margin-bottom: 1rem;
  color: white
}

.login-container .passwordLogin label {
  margin-right: 1rem;
  color: white
}

/* REGISTER */

.container .registerUsername label {
  margin-right: 1rem;
  color: white
}

.container button {
  cursor: pointer;
}

h1 {
  margin-top: 2rem;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

p {
  /* position: absolute;
  width: 186.94px;
  height: 72px;
  left: 246.77px;
  top: 814px; */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  width: 186.94px;
  height: 25rem;
  left: 246.77px;
  top: 814px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #141416;
  ;
}

.card_positions {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: 25rem 25rem 25rem; 
  column-gap: 20px;
  row-gap: 3rem;

}

.products_page {
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-content: center;
}

.productButtons{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: flex-end;
  vertical-align: bottom;
}



/*LANDING PAGE CSS*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,600|Mr+Dafoe:400");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  margin-top: 1.4rem;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 14px;
  --font-size-xxxl: 72px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-mr_dafoe: "Mr Dafoe", Helvetica;
}

/*Cart*/

.cart {
  align-items: flex-end;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1407px;
  overflow: hidden;
  padding: 85px 0;
  width: 1440px;
}

.title {
  align-self: center;
  letter-spacing: 0;
  margin-right: 465.0px;
  min-height: 47px;
  width: 209px;
}

.flex-row {
  align-items: flex-end;
  display: flex;
  margin-right: -295.0px;
  margin-top: 15px;
  min-width: 1571px;
}

.overlap-group {
  height: 1208px;
  position: relative;
  width: 1087px;
}

.vector {
  height: 590px;
  left: 364px;
  position: absolute;
  top: 5px;
  width: 723px;
}

.vector-1 {
  height: 582px;
  left: 0;
  position: absolute;
  top: 626px;
  width: 593px;
}

.group-26 {
  background-color: rgb(39, 39, 39);
  height: 1171px;
  left: 220px;
  position: absolute;
  top: 0;
  width: 673px;
}

.rectangle-4 {
  height: 58px;
  margin-bottom: 233.67px;
  margin-left: 354px;
  width: 130px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}
.montserrat-semi-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}
