@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300");

/* BODY */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
}

body .welcome {
  margin-top: 12rem;
  text-align: center;
  font-size: larger;
}

/*Navbar*/

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #333;
  cursor: pointer;
  height: 3rem;
  align-items: center;
}

.navbar .links {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}

.navbar .links:hover {
  color: orange;
}

/* LOGIN/SIGNUP */

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-left: 2rem;
}

.login-form .login-container button {
  cursor: pointer;
}

.login-container .usernameLogin {
  margin-bottom: 1rem;
}

.login-container .usernameLogin label {
  margin-right: 1rem;
}

.login-container .passwordLogin {
  margin-bottom: 1rem;
  color: white;
}

.login-container .passwordLogin label {
  margin-right: 1rem;
  color: white;
}

/* REGISTER */

.container .registerUsername label {
  margin-right: 1rem;
  color: white;
}

.container button {
  cursor: pointer;
}

h1 {
  margin-top: 2rem;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

p {
  /* position: absolute;
  width: 186.94px;
  height: 72px;
  left: 246.77px;
  top: 814px; */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  width: 186.94px;
  height: 25rem;
  left: 246.77px;
  top: 814px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #141416;
}

.card_positions {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: 25rem 25rem 25rem;
  column-gap: 20px;
  row-gap: 3rem;
}

.products_page {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.productButtons {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: flex-end;
  vertical-align: bottom;
}

/*LANDING PAGE CSS*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,600|Mr+Dafoe:400");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  margin-top: 1.4rem;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #ffffff;

  --font-size-l: 18px;
  --font-size-m: 14px;
  --font-size-xxxl: 72px;

  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-mr_dafoe: "Mr Dafoe", Helvetica;
}

.container-signin {
  padding-top: 3rem;
}

.registerUserName {
  color: white;
}

.login-container {
  color: white;
  padding-top: 0.5rem;
}

.checkbox {
  padding-left: 1rem;
}

.submit-button {
  padding: 0.12rem;
}

.admin_user {
  padding: 1rem;
}

.space_list {
  padding-bottom: 0.5rem;
}

.cart {
  align-items: flex-end;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1407px;
  overflow: hidden;
  padding: 85px 0;
  width: 1440px;
}

.title {
  align-self: center;
  letter-spacing: 0;
  margin-right: 465px;
  min-height: 47px;
  width: 209px;
}

.flex-row {
  align-items: flex-end;
  display: flex;
  margin-right: -295px;
  margin-top: 15px;
  min-width: 1571px;
}

.overlap-group {
  height: 1208px;
  position: relative;
  width: 1087px;
}

.vector {
  height: 590px;
  left: 364px;
  position: absolute;
  top: 5px;
  width: 723px;
}

.vector-1 {
  height: 582px;
  left: 0;
  position: absolute;
  top: 626px;
  width: 593px;
}

.group-26 {
  background-color: rgb(39, 39, 39);
  height: 1171px;
  left: 220px;
  position: absolute;
  top: 0;
  width: 673px;
}

.rectangle-4 {
  height: 58px;
  margin-bottom: 233.67px;
  margin-left: 354px;
  width: 130px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}
.montserrat-semi-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

/* Main Project Page */

.desktop-6 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 1029px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group4 {
  height: 753px;
  margin-left: -1px;
  margin-top: 100px;
  position: relative;
  width: 1440px;
}

.title {
  left: 222px;
  letter-spacing: 0;
  position: absolute;
  top: 161px;
  width: 209px;
}

.group-container {
  height: 753px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.group-21 {
  align-items: flex-start;
  background-color: var(--bunker);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 278px;
  padding: 43px 222px;
  position: absolute;
  top: 238px;
  width: 1440px;
}

.burger-kit {
  letter-spacing: 0;
  min-height: 13px;
  width: 258px;
}

.text-2 {
  letter-spacing: 0;
  margin-top: 25px;
  min-height: 72px;
  width: 281px;
}

.group-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 11px;
  min-height: 70px;
  width: 285px;
}

.price {
  height: 16px;
  letter-spacing: 0;
  width: 83px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: -2px;
  margin-top: 15px;
  min-width: 285px;
}

.overlap-group1 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  min-width: 141px;
  padding: 11px 26px;
}

.text-1,
.buy-now {
  height: 16px;
  letter-spacing: 0;
  text-align: center;
  width: 83px;
}

.overlap-group {
  align-items: flex-start;
  display: flex;
  height: 41px;
  margin-left: 3px;
  min-width: 141px;
  padding: 10.3px 26.8px;
}

.overlap-group2 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/61a27368a28b3fe153421fed/releases/61a6b3c9ea3fad7ea4a0cbd6/img/vector@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 590px;
  left: 671px;
  min-width: 723px;
  padding: 30.6px 35px;
  position: absolute;
  top: 82px;
}

.image-21 {
  height: 505px;
  object-fit: cover;
  width: 601px;
}

.group-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 222px;
  min-height: 88px;
  position: absolute;
  top: 560px;
  width: 340px;
}

.create-with-love {
  letter-spacing: 0;
  min-height: 18px;
  width: 146px;
}

.text-3 {
  letter-spacing: 0;
  margin-top: 8px;
  min-height: 62px;
  width: 336px;
}

.rectangle-4 {
  height: 58px;
  margin-left: 166px;
  margin-top: 1063px;
  width: 130px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --bunker: #141416;
  --silver: #c0c0c0;
  --sonic-silver: #767678;
  --white: #ffffff;

  --font-size-m: 14px;
  --font-size-xxl: 36px;

  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-semi-bold-silver-14px {
  color: var(--silver);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.montserrat-semi-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.montserrat-light-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.montserrat-semi-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.border-2px-sonic-silver {
  border: 2px solid var(--sonic-silver);
}
