.desktop-6 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 1029px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group4 {
  height: 753px;
  margin-left: -1px;
  margin-top: 100px;
  position: relative;
  width: 1440px;
}

.title {
  left: 222px;
  letter-spacing: 0;
  position: absolute;
  top: 100px;
  width: 209px;
  font-size: 3rem;
}

.group-container {
  height: 753px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.group-21 {
  align-items: flex-start;
  background-color: var(--bunker);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 278px;
  padding: 43px 222px;
  position: absolute;
  top: 238px;
  width: 1440px;
}

.burger-kit {
  letter-spacing: 0;
  min-height: 13px;
  width: 258px;
}

.text-2 {
  letter-spacing: 0;
  margin-top: 25px;
  min-height: 72px;
  width: 281px;
}

.group-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 11px;
  min-height: 70px;
  width: 285px;
}

.price {
  height: 16px;
  letter-spacing: 0;
  width: 83px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: -2px;
  margin-top: 15px;
  min-width: 285px;
}

.overlap-group1 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  min-width: 141px;
  padding: 11px 26px;
}

.text-1,
.buy-now {
  height: 16px;
  letter-spacing: 0;
  text-align: center;
  width: 83px;
}

.overlap-group {
  align-items: flex-start;
  display: flex;
  height: 41px;
  margin-left: 3px;
  min-width: 141px;
  padding: 10.3px 26.8px;
}

.overlap-group2 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/61a27368a28b3fe153421fed/releases/61a6b3c9ea3fad7ea4a0cbd6/img/vector@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 590px;
  left: 671px;
  min-width: 723px;
  padding: 30.6px 35.0px;
  position: absolute;
  top: 82px;
}

.image-21 {
  height: 505px;
  object-fit: cover;
  width: 601px;
}

.group-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 222px;
  min-height: 88px;
  position: absolute;
  top: 560px;
  width: 340px;
}

.create-with-love {
  letter-spacing: 0;
  min-height: 18px;
  width: 146px;
}

.text-3 {
  letter-spacing: 0;
  margin-top: 8px;
  min-height: 62px;
  width: 336px;
}

.rectangle-4 {
  height: 58px;
  margin-left: 166px;
  margin-top: 1063px;
  width: 130px;
}